<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578896536791-eethuilmpimpp35vgse1tctt8nftgghf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578896536791-eethuilmpimpp35vgse1tctt8nftgghf</string>
	<key>API_KEY</key>
	<string>AIzaSyCFUEQ_aw6KikwpPQ-eP2GUi0sZfdhO_oY</string>
	<key>GCM_SENDER_ID</key>
	<string>578896536791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isvaraf</string>
	<key>PROJECT_ID</key>
	<string>isvara-bd2eb</string>
	<key>STORAGE_BUCKET</key>
	<string>isvara-bd2eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578896536791:ios:39d25438e44a7664577c92</string>
</dict>
</plist>